@font-face {
  font-family: 'outfit';
  src: url(./fonts/Outfit/Outfit-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'outfit';
}

#container {
  margin-bottom: 30px;
}

#header {
  padding: 15px;
  box-shadow: 0 0 10px 8px lightgray;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
}

h1 {
  font-size: 1.8rem;
  grid-column: 1 / 10;
}

#search {
  display: flex;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  grid-column: 1 / 11;
}

#extra {
  display: flex;
  gap: 10px;
  justify-content: end;
}

#extra > img {
  width: 30px;
}

#search > img {
  width: 20px;
}

#search-bar {
  border: none;
  background-color: inherit;
  padding: 7px;
  font-size: 1rem;
  border-radius: 10px;
  width: 100%;
  outline: none;
}

.which {
  font-size: 2rem;
  margin: 15px;
}

.which,
#products {
  width: min(95%);
  margin: auto;
}

.which {
  font-size: 2rem;
  margin: 15px auto;
}

#products {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

#products > div > h3 > a {
  color: black;
  text-decoration: none;
}

#products > div > h3 > a:hover {
  text-decoration: underline;
}

#products > div > img {
  width: 100%;
}

.original-price {
  text-decoration: line-through;
  font-size: 0.9rem;
  color: gray;
}

.wide {
  display: none;
}

@media (min-width: 801px) {
  #products {
    width: max(600px, 95%);
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  #extra {
    display: none;
  }

  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #header > div:nth-child(3) {
    margin-left: 50px;
    flex-grow: 2;
  }

  #header > div:nth-child(4) {
    flex-grow: 4;
  }

  #nav > ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }

  #nav > ul > li {
    transition: transform 1s;
  }

  #nav > ul > li:hover {
    transform: scale(1.2);
    text-decoration: underline;
  }

  #products,
  .which {
    width: min(95%, 1100px);
  }

  #search {
    margin-top: 0;
  }

  .wide {
    display: block;
  }
}
